<!DOCTYPE html>
<html>

  

<h2 class="page-header">Agregar Ubicación, {{ user.username }}</h2>

<body>
    

    <form method="post" action="/users/location" id="form" name='form' onsubmit="setTimeout('document.forms[0].reset()', 2000)">
        <input id="latitude" type="hidden" class="form-control" name="latitude" placeholder="latitude">
        <input type="hidden" class="form-control" name="longitude" placeholder="longitude" id="longitude">
    </form>

    <button href="javascript:getmap()" id="get" onclick="getLocation()">Try It</button>

    <p id="demo">fsdf</p>

    <button id="iniciar" onclick="iniciar()">Iniciar</button>
    <button id="iniciar" onclick="parar()">parar</button>

</body>




<script>
    
</script>

</html>